/* 
#########
# RESET #
#########
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* 
#####################
# Element Selectors #
##################### 
*/

:root {
  --clr-cyan: #66e2dc;
  --clr-orange: #fa7453;
  --clrt-lt-orange: #ffb964;
  --clr-white: #fcfaf9;
  --clr-black: #191826;

  --font-family: "IBM Plex Sans", sans-serif;
}

html,
body {
  min-height: 100vh;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background: url("./assets/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: 150px -250px;
}

@media screen and (min-width: 445px) {
  body {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    background: url("./assets/bg-main-tablet.png"),
      url("./assets/bg-pattern-1.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 983px, 276px;
    background-position: -280px -150px, 103% -2%;
  }
}

@media screen and (min-width: 992px) {
  body {
    background: url("./assets/bg-main-desktop.png"),
      url("./assets/bg-pattern-1.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 1600px, 312px;
    background-position: -550px -150px, 103% -2%;
  }
}

@media screen and (min-width: 1275px) {
  body {
    background: url("./assets/bg-main-desktop.png"),
      url("./assets/bg-pattern-1.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 1600px, 312px;
    background-position: -150px -150px, 103% -2%;
  }
}

/* 
#####################
# General Layouting #
##################### 
*/

.container {
  width: 100%;
  max-width: 1110px;
}

@media screen and (min-width: 876px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (min-width: 1220px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.mobile__padding {
  padding: 0 2rem;
}

@media screen and (min-width: 445px) {
  .mobile__padding {
    padding: 0;
  }
}
/* 
#####################
# Header Components #
##################### 
*/

.equalizer__header {
  margin-top: 2.5rem;
  margin-bottom: 10rem;
}

.equalizer__header h1 {
  margin-bottom: 2em;
}

.equalizer__header h2 {
  font-size: clamp(40px, 8.3vw, 88px);
  line-height: 1.2;
  margin-bottom: 0.5em;
}

@media screen and (min-width: 768px) {
  .equalizer__header h2 {
    max-width: 50%;
    line-height: 1;
  }
}

.equalizer__header p {
  font-size: clamp(16px, 2.3vw, 20px);
  line-height: 1.625;
  margin-bottom: 4em;
  font-weight: 400;
}

@media screen and (min-width: 600px) {
  .equalizer__header p {
    margin-bottom: 8em;
  }
}

@media screen and (min-width: 768px) {
  .equalizer__header p {
    max-width: 75%;
    line-height: 1.55;
    margin-bottom: 15rem;
  }
}

/* 
################################
# Product Highlight Components #
################################
*/

.equalizer__product-highlight {
  background: url("./assets/bg-pattern-2.svg");
  background-size: 275px;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: var(--clr-black);

  position: relative;
  min-height: 500px;

  border-radius: 12px;
}
@media screen and (min-width: 600px) {
  .equalizer__product-highlight {
    background-size: 280px;
    min-height: 600px;

    background-position: 75% -20%;
  }
}
@media screen and (min-width: 768px) {
  .equalizer__product-highlight {
    background-position: 58% -10%;
    position: relative;
  }
}

@media screen and (min-width: 876px) {
  .equalizer__product-highlight {
    background-position: 45% -10%;
    background-size: 312px;
  }
}

.equalizer__product-highlight > img {
  width: 100%;
  max-width: 209px;

  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -22%;
}

@media screen and (min-width: 600px) {
  .equalizer__product-highlight > img {
    left: 10%;
    right: 50%;
    margin: auto;
    top: -15%;
    max-width: 250px;
  }
}

@media screen and (min-width: 768px) {
  .equalizer__product-highlight > img {
    width: 100%;
    max-width: 270px;

    top: -21%;
  }
}

@media screen and (min-width: 876px) {
  .equalizer__product-highlight > img {
    max-width: 312px;
    top: -32%;
  }
}

@media screen and (min-width: 1220px) {
  .equalizer__product-highlight > img {
    left: 1.5%;
  }
}

/* 
###########################
# Product Card Components #
###########################
*/

.equalizer__product-card {
  display: flex;
  flex-direction: column;

  position: relative;
  z-index: 9999;
  margin-top: -7rem;
  margin-bottom: 4rem;

  padding: 3rem 2rem;

  border-radius: 12px;
  max-width: 446px;
  background-color: var(--clr-orange);
}

@media screen and (min-width: 445px) {
  .equalizer__product-card {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 600px) {
  .equalizer__product-card {
    margin-right: auto;

    margin-top: -25rem;
    margin-bottom: 4rem;
    margin-right: 5%;
  }
}

@media screen and (min-width: 768px) {
  .equalizer__product-card {
    margin-right: auto;

    margin-top: -32rem;
    margin-bottom: 4rem;
    margin-right: 5%;
  }
}

.equalizer__product-card h2 {
  font-size: clamp(32px, 5vw, 40px);
  font-weight: bold;
  color: var(--clr-white);

  line-height: 1.3;
  margin-bottom: 0.5em;
}

.equalizer__product-card p {
  font-size: clamp(18px, 2.5vw, 20px);
  font-weight: 400;
  line-height: 1.7;
  color: var(--clr-white);
  margin-bottom: 1em;
}

.equalizer__product-pricing {
  display: flex;
  align-items: center;

  font-size: 65px;
  line-height: 0.8;
  font-weight: bold;
  color: var(--clr-white);

  margin-bottom: 2rem;
}

/* Product Card Buttons */

.equalizer__product-pricing span {
  font-size: 20px;
  line-height: 1.6;
  font-weight: normal;
  letter-spacing: -0.2px;
  margin-left: 1em;
}

.equalizer__product-card .btn {
  border: none;
  border-radius: 12px;

  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 1.78;

  padding: 1.2em;
}

.equalizer__product-card .btn:hover {
  cursor: pointer;
}

.btn.btn__apple {
  background-color: var(--clr-black);
  color: var(--clr-white);
  margin-bottom: 1em;
}
.btn:hover.btn__apple {
  background-color: var(--clr-cyan);
}

.btn.btn__android {
  background-color: var(--clr-white);
}

.btn:hover.btn__android {
  background-color: var(--clrt-lt-orange);
}

.btn.btn__apple span,
.btn.btn__android span {
  position: relative;
  padding-left: 1em;
}

.btn.btn__apple span:before,
.btn.btn__android span:before {
  content: url("./assets/icon-apple.svg");
  position: absolute;
  left: -8px;
  top: -2px;
}

.btn.btn__android span:before {
  content: url("./assets/icon-android.svg");
}

/* 
####################
# Equalizer Footer #
####################
*/

.equalizer__footer-logo {
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 1em;

  max-width: 200px;

  flex: 1;
}

.equalizer__footer p {
  font-size: 16px;
  line-height: 1.625;
  font-style: normal;
}
@media screen and (min-width: 700px) {
  .equalizer__footer p {
    max-width: 366px;
  }
}

.equalizer__footer p:last-of-type {
  margin-bottom: 4em;
}

.equalizer__footer p a[href*="mailto:"] {
  font-weight: bold;
}

.equalizer__footer__social-links ul {
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding-right: 2em;

  margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .equalizer__footer__social-links ul {
    padding-right: 1em;
    gap: 2em;
  }
}

@media screen and (min-width: 1000px) {
  .equalizer__footer__social-links ul {
    padding-right: 0;
  }
}

@media screen and (min-width: 700px) {
  .equalizer__footer-inner-sectioning {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .equalizer__footer-inner-sectioning {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1000px) {
  .equalizer__footer-outer-sectioning {
    display: flex;
    justify-content: space-between;
  }
  .equalizer__footer-inner-sectioning {
    justify-content: space-between;
    flex: 1;
  }

  .equalizer__footer-inner-sectioning address {
    padding-left: 15%;
  }
}

.equalizer__footer__social-links ul li {
  fill: #191826;
}

@media screen and (min-width: 992px) {
  .equalizer__footer__social-links ul li {
    height: 25px;
    width: 25px;
  }
}

.equalizer__footer__social-links ul li:hover {
  cursor: pointer;
  fill: var(--clr-orange);
}
